{% extends 'base.html.twig' %}

{% block body %}
    <h1>The Store</h1>

    <div class="card" data-controller="store">
        <div class="card-header">
            Products
        </div>
        <div class="card-body">
            <div class="card-list" data-target="store.productList"></div>

            <hr>
            <button data-action="click->store#showProducts" class="btn btn-lg btn-primary">
                Baaa! <i class="fad fa-sheep"></i>
            </button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('store') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('store') }}
{% endblock %}
