<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>UK Symfony Meetup: Webpack Encore & A Modern JS Update</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script src="https://kit.fontawesome.com/a20a0555e5.js" crossorigin="anonymous"></script>
            <script src="{{ asset('app.js') }}"></script>
        {% endblock %}
    </body>
</html>
